.pileUpChart{
  height: calc(100%);
}
.pileUpChart_isMobile{
  overflow-x:auto;
  overflow-y: hidden;
}
.pileUpChart_isProjection{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pileUpChart svg{
  cursor: pointer;
}
.pileUpChart .axis .grid-line{
  stroke: black;
  shape-rendering: crispEdges;
  stroke-opacity: .2;
}
.pileUpChart .line{
  fill: none;    
  stroke-width: 1;
}
.pileUpChart .area {
  stroke: none;
  fill-opacity: .2;
}
.pileUpChart .tip-line{
  stroke-dasharray: 2px 4px;
}
.pileUpChart .noData{
  font-size: 16px;
  fill:black;
  fill-opacity: .3;
}
.pileUpChart svg{
  cursor: pointer;
}
.pileUpChart .groupLine{
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  top:1vh;
  right:0;
  justify-content: flex-end;
}
.pileUpChart .groupLine_item{
  margin-right: 1vw;
  cursor: pointer;
  font: normal 400 12px/14px black, HelveticaNeue;
  color: rgba(0, 0, 0, 0.45);
  display: flex;
  justify-content: space-around;
  align-content: center;
  align-items: center;
}
.pileUpChart .hideNav{
  opacity: .3;
}
.colorBlock{
  display: inline-block;
  width:.6vw;
  min-width: 10px;
  min-height: 10px;
  height: .6vw;
  margin-right: .4em;
  border-radius: 50%;
  vertical-align: middle;
}

@media (max-width:576px){
  .groupLine{
    position: relative;
    flex-wrap: wrap;
  }
  .groupLine_item{
    width:25%;
    padding:0 10px;
    white-space: nowrap;
  }
}
.pileUpChart .chart,.xAxis,.yAxis,.grid-line,.path {
  pointer-events:none;
}
.pileUpChart .tip-text{
  fill: #fff;
}
